body {
  font-family: 'Dosis', sans-serif;
  /* font-family: 'Cairo Play', cursive; */
  color: #b1b1b1;
  background-color: #242526;
  padding: 0;
  margin: 0;
}

/* .flip-me {
  transform: rotateY(180deg);
  backface-visibility: hidden;
} */

.hidden {
  /* visibility: hidden; */
  display: none;
  /* position: absolute; */
}
